header{
    width: 100%;
    height: 50px;
}

.my_navbar{
    height: calc(100vh - 50px);
    width: 70px;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
    background-position: center;
    background-color: rgb(23, 23, 61);
    color: white;
}

.my_content{
    height: calc(100vh - 85px);
    width: calc(100% - 70px);
    background-color: rgb(30, 152, 227);
    overflow: auto;
}

.my_container_1{
    color: white;
    background-color: rgb(30, 152, 227);
}

.button{
    background-color: #142aeb;
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
  }

  .my_container_2{
    background-color: #f7f7f7;
   
  }

  td>img{
    width:20px ;
  }

  table {
    border-spacing: 30px;
    
  }


  .my_green_button{
    background-color: green;
    border: none;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
  }

  
  
  .my_search{
    width: 60%;
  }

  
  .my_border_bot{
    border-bottom: 1px solid grey;
  }

  
  .my_tab{
    border: 1px solid grey;
    padding: 1rem;
  }

  
  input{
    background-color: #f7f7f7;
    width: 100%;
    
  }


  
  #mobile{
    width: 60px;
  }

  
  .my_icons>*{
     margin-left: 20px;
  }


@media screen and (min-width:992px) {
    .my_navbar{
        height: calc(100vh - 50px);
        width: 120px;
        
    }
    
    .my_content{
        height: calc(100vh - 50px);
        width: calc(100% - 120px);
    
    }

    .mobile_logo{
        display: none;
    }

}

@media screen and (max-width:576px) {

      .my_hide{
    display: none;
}

.mobile_logo{
    display: inline-block;
}


.my_hide_small{
    display: none;
}
}

@media screen and (max-width:768px) {
    
    .my_hide_small{
        display: none;
    }

}

